<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="primary">Portal Coppel </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-input
      class="login-input"
      color="secondary"
      label="Número de Asociado" 
      label-placement="floating" 
      fill="outline"
      formControlName="email"
      placeholder="Ingrese unicamente números">
    </ion-input>
    <ion-note class="note" *ngIf="email?.invalid && email?.touched">
      Por favor ingrese un número de asociado válido.
    </ion-note>
    <ion-input
      class="login-input"
      label="Contraseña" 
      label-placement="floating"
      fill="outline" 
      placeholder="Ingrese su contraseña"
      formControlName="password" 
      type="password">
    </ion-input>
    <ion-note class="note" *ngIf="password?.invalid && password?.touched">
     Este campo es obligatorio.
    </ion-note>
    <ion-button shape="round" class="action-button" expand="full" type="submit" [disabled]="loginForm.invalid">
      Iniciar Sesion
    </ion-button>
  </form>
    <ion-img
    class="logo"
    src="assets/icon/logo.png"
  ></ion-img>
  <ion-text class="footer-text">
    <p>¿Olvidaste tu contraseña? <a href="#">Recuperar</a></p>
  </ion-text>
</ion-content>