<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  @if(users.length === 0) {
    <ion-text class="ion-padding">
       <ion-img class="empty-image" src="assets/icon/look.png"></ion-img>
      <p>No hay usuarios disponibles.</p>
    </ion-text>
  }
  <ion-list>
    @for (user of users; track user.id) {
      <ion-item button (click)="selectUser(user.email)">
      <ion-avatar slot="start">
        <img src="{{ user.avatar || 'assets/icon/avatar.png' }}" alt="Avatar de {{ user.name }}">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{ user.name + ' ' + user.lastName }}</h2>
        <p>{{ 'Numero de asociado: ' + user.email }}</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    }
  </ion-list>
</ion-content>
