// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --coppel-yellow: #FFCC00;
  --coppel-blue: #0033A0;
  --coppel-white: #FFFFFF;
  --coppel-black: #000000;
  --coppel-gray: #F5F5F5;
}

:host {
    --coppel-yellow: #FFCC00;
    --coppel-blue: #0033A0;
    --coppel-white: #FFFFFF;
    --coppel-black: #000000;
    --coppel-gray: #F5F5F5;
    --ion-color-primary: var(--coppel-blue);
    --ion-color-secondary: var(--coppel-yellow);
    --ion-color-tertiary: var(--coppel-gray);
    --ion-color-success: #28a745;
    --ion-color-warning: #ffc107;
    --ion-color-danger: #dc3545;
    --ion-color-light: var(--coppel-white);
    --ion-color-dark: var(--coppel-black);
}

$colors: (
  primary:    var(--coppel-blue),
  secondary:  var(--coppel-yellow),
  light:      var(--coppel-gray),
  dark:       var(--coppel-black)
);