<ion-header size="large">
  <ion-toolbar color="primary">
    <ion-title>
      Menu Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="main-actions">
    <ion-button expand="block" fill="solid" (click)="navigateToMap('delivery')">
      Cargar Entrega
    </ion-button>
    <ion-button expand="block" fill="solid" (click)="navigateToUsers('delivery')">
      Empezar Entrega
    </ion-button>
     <ion-button expand="block" fill="solid" (click)="navigateToMap('pickup')">
      Cargar Recoleccion
    </ion-button>
    <ion-button expand="block" fill="solid" (click)="navigateToUsers('pickup')">
      Empezar Recoleccion
    </ion-button>
    <ion-button expand="block" fill="solid" (click)="closeSession()">
      Finalizar dia
    </ion-button>
  </ion-list>
</ion-content>
