<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Menu Principal
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="main-actions">
    <ion-button expand="block" fill="solid" (click)="navigateToMap()">
      Cargar Supervisor
    </ion-button>
    <ion-button expand="block" fill="solid" (click)="navigateToUsers()">
      Empezar Entrega
    </ion-button>
     <ion-button expand="block" fill="solid" routerLink="/load-supervisor">
      Cargar Recoleccion
    </ion-button>
    <ion-button expand="block" fill="solid" routerLink="/load-supervisor">
      Finalizar dia
    </ion-button>
  </ion-list>
</ion-content>
